@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background: #ffff;
}
/* IMAGE  SLIDER */
.image-silder{
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 1.5rem;
}

.image-silder div{
    width: 100%;
    flex: none;
}

.image-silder div span img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.image-wrap{
    display: flex;
    position: relative;
    height: 550px;
    margin-top: 5.7rem;
}

.image-wrap i{
    font-size: 1rem;
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: .5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px ;
    z-index: 1;
    cursor: pointer;
    
}

.image-wrap #left-btn{
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
}
.image-wrap #right-btn{
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
}
/* IMAGE SLIDER END */

/* PRODUCTS SECTION ONE */
.section-one-container{
    width: 100%;
    padding: 2rem;
    background: #fff;
}
.section-one-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.title .lines div{
     border: 1px solid #EE1C27;
     width: 5rem;
     margin-bottom: .5rem;
}
.title .lines-down div{
    border: 1px solid #EE1C27;
    width: 3rem;
    margin-bottom: .5rem;
    display: none;
}
.title h4{
    font-size: 1.5rem;
    font-weight: 500;
}
.viewBtn{
   color: white;
   background-color: #EE1C27;
   border: none;
   outline: none;
   padding: .5rem 1rem;
   cursor: pointer;
}

/* products one */
.sec{
    width: 100%;
    display: flex;
    position: relative;
}
.sec i{
   position: absolute;
   font-size: 1rem;
   background-color: white;
   padding: .5rem;
   border-radius: 50%;
   box-shadow: 0px 0px 8px 0px ;
   transform: translateY(-50%);
   cursor: pointer;
}
#left{
    top: 50%;
    display: block; 
}
#right{
    right: 0;
    top: 50%;
    display: block;
}
#right-two{
    right: 0;
    top: 50%;
    display: block;
}
#left-two{
    top: 50%;
    display: block;
}
#right-three{
    right: 0;
    top: 50%;
    display: block;
}
#left-three{
    top: 50%;
    display: block;
}
#right-four{
    right: 0;
    top: 50%;
    display: none;
}
#left-four{
    top: 50%;
    display: none;
}
#right-five{
    right: 0;
    top: 50%;
    display: block;
}
#left-five{
    top: 50%;
    display: block;
}
#right-six{
    right: 0;
    top: 50%;
    display: block;
}
#left-six{
    top: 50%;
    display: block;
}
.products-one{
    width: 100%;
    height: 350px;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
}
.products-one::-webkit-scrollbar{
    display: none;
}
.product{
    width: 30%;
    max-width: 350px;
    height: 100%;
    text-align: center;
    padding: 0 .5rem;
    transition: .5s ease-in;
    display: grid;
}
.product:hover{
    box-shadow: 0px 0px 8px 0px;
}
.product img{
    height: 210px;
    margin: auto;
}
.product .desc h5{
    font-weight: bolder;
    width: 100%;
    display: block;
    margin: auto;
    height: 50px;
    overflow: hidden;
}
.product .desc p{
    display: block;
    margin-top: 1rem;
    color: #EE1C27;
    font-weight: bold;
    text-align: left;
    padding-left: 1.5rem;
}
.footer-section{
    width: 100%;
    background: #000;
    padding: 1rem;
}
.footer-container{
    width: 97%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-container ul{
    list-style: none;
}
.footer-container ul  li{
    color: white;
    font-weight: 300;
    font-size: .9rem;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: .2s;
}
.footer-container ul li:hover{
    font-weight: 500;
}
.footer-container div p{
    color: white;
    font-weight: 300;
    font-size: .9rem;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: .2s;
}
.footer-container div p:hover{
    font-weight: 500;
}
.footer-container ul h5{
    color: rgb(173, 170, 170);
    font-size: 1rem;
    position: relative;
    margin-bottom: 1rem;
    font-weight: 500;
}
.footer-container ul  h5::after{
     content: '';
     position: absolute;
     height: 0.1rem;
     width: 4.2rem;
     left: 0;
     bottom: -.5rem;
     background: #EE1C27;
}
.footer-container div h5{
    color: rgb(173, 170, 170);
    font-size: 1rem;
    position: relative;
    margin-bottom: 1rem;
    font-weight: 500;
}
.footer-container div  h5::after{
    content: '';
    position: absolute;
    height: 0.1rem;
    width: 4.2rem;
    left: 0;
    bottom: -.5rem;
    background: #EE1C27;
}

.footer-container div .details{
   border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #343232;
    margin-top: 1rem;
}
.footer-container div input{
   width: 95%;
   height: 100%;
   padding: 0 1rem;
   background: transparent;
   border: none;
   outline: none;
   color: white;
   font-weight: 400;
}
.footer-container div button{
     height: 100%;
     outline: none;
     border: none;
     cursor: pointer;
     border-radius: 0 5px 5px 0;
}
.footer-container div button img{
    height: 100%;
    border-radius: 0 5px 5px 0;
}

.content{
    margin-top: 2rem;
}
.content .icons{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
.content .icons img{
    width: 50px;
}

.footer-section h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.footer-section h1 span{
    color: red;
}

@media screen and (max-width:1024px) {
    .image-silder{
        margin-top: 0;
    }
    .image-wrap{
        height: 300px;
    }
    .image-wrap{
        margin-top: 6rem;
    }
    
    #left, #right,
    #left-two,#right-two,
    #left-three,#right-three,
    #left-four,#right-four,
    #left-five,#right-five,
    #left-si,#right-six{
        display: block;
    }
    .product img{
        height: 180px;
        width: 180px;
    }
    .content .icons img{
        width: 30px;
    }
    .footer-container{
        width: 97%;
    }
    .footer-container div .details{
         width: 70%;
         height: 35px;
     }
     .footer-container ul  li{
        font-size: .7rem;
        font-weight: 300;
    }
     .footer-container div p{
        font-size: .7rem;
        font-weight: 300;
    }
    .footer-container ul h5{
        font-size: .9rem;
    }
    .footer-section h1{
        font-size: 2.1rem;
    }
}

@media screen and (max-width:768px) {
    .image-wrap{
        height: 250px;
    }
    .image-wrap i{
       display: block;
       font-size: .8rem;
       padding: .5rem;
        
    }
    .image-wrap #left-btn{
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
    }
    .image-wrap #right-btn{
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
    }
   
    .product:hover{
        box-shadow: none;
    }
    .section-one-container{
        width: 97%;
        margin: auto;
        padding: 1rem .5rem;
        background-color: #F1F1F1;
        position: relative;
    }
    .section-one-nav{
        display: block;
    }
    .section-one-nav .title{
        width: 100%;
        display: block;
        position: relative;
    }
    .viewBtn{
        position: absolute;
        z-index: 1;
        top: 3.9rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .sec{
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 5px 0px;
        margin-top: .8rem;
        padding-bottom: .8rem;
        
    }
    .sec i{
        display: none;
    }
    .title .lines div{
        display: none;
   }
   .title .lines-down div{
       border: 1px solid #333;
       width: 6rem;
       margin-top: .5rem;
       
       display: block;
   }
   .title h4{
    font-size: 1.4rem;
    font-weight: 400;
}
   #left, #right,
   #left-two,#right-two,
   #left-three,#right-three,
   #left-four,#right-four,
   #left-six,#right-six{
    display: none;
}
#left-five,#right-five{
    display: none;
}
.product img{
    height: 120px;
    width: 120px;
}
.content .icons img{
    width: 30px;
}
.footer-container div .details{
     width: 70%;
     height: 35px;
 }
 .footer-container ul  li{
    font-size: .5rem;
    font-weight: 300;
}
.footer-container ul li:hover{
    font-weight: 300;
}
.footer-container div p{
    font-size: .5rem;
    font-weight: 300;
}
.footer-container div p:hover{
    font-weight: 300;
}
.footer-container ul h5{
    font-size: .7rem;
}
.footer-container div h5{
    font-size: .7rem;
}
.footer-section h1{
    font-size: 1.9rem;
}
}
@media screen and (max-width:600px) {
    .image-wrap{
        height: 220px;
    }
    .image-wrap{
        margin-top: 4rem;
    }
    .viewBtn{
        top: 4rem;
    }
    .sec{
        margin-top: 1rem;  
    }
    .sec i{
        display: none;
    }
    .title .lines div{
        display: none;
   }
   .title .lines-down div{
       border: 1px solid #333;
       width: 7rem;
       margin-top: .5rem;
       display: block;
   }
   .product{
    width: 40%;
}
.product:hover{
    box-shadow: none;
}
.product img{
    height: 120px;
    width: 120px;
}
.products-one{
    height: 300px;
}
.product .desc p{
    text-align: center;
}
.viewBtn{
    top: 3.9rem;
}
.content .icons img{
    width: 22px;
}
.footer-container div .details{
    width: 70%;
    height: 30px;
}
.footer-container div .details input{
   font-size: .7rem;
   padding: 0.5rem;
}
 .footer-container ul  li{
    font-size: .3rem;
    font-weight: 300;
}
.footer-container ul li:hover{
    font-weight: 300;
}
.footer-container div p{
    font-size: .4rem;
    font-weight: 300;
}
.footer-container div p:hover{
    font-weight: 300;
}
.footer-container ul h5{
    font-size: .5rem;
}
.footer-container div h5{
    font-size: .5rem;
}
.footer-section h1{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.footer-container div  h5::after{
    content: '';
    position: absolute;
    height: 0.1rem;
    width: 2rem;
    left: 0;
    bottom: -.5rem;
    background: #EE1C27;
}
.footer-container ul  h5::after{
    content: '';
    position: absolute;
    height: 0.1rem;
    width: 2rem;
    left: 0;
    bottom: -.5rem;
    background: #EE1C27;
}
}
@media screen and (max-width:430px) {
    .image-wrap{
        height: 140px;
    }
    .image-wrap{
        margin-top: 3.6rem;
    }
    .image-wrap i{
        display: block;
        font-size: .5rem;
        padding: .2rem;
         
     }
     .image-wrap #left-btn{
         position: absolute;
         top: 50%;
         left: 1rem;
         transform: translateY(-50%);
     }
     .image-wrap #right-btn{
         position: absolute;
         top: 50%;
         right: 1rem;
         transform: translateY(-50%);
     }
    .sec{
        margin-top: 1.5rem; 
        padding-bottom: 0.1rem; 
    }
    .viewBtn{
        top: 4.5rem;
        padding: .5rem;
        font-size: .7rem;
    }
    .product{
        width: 100%;
    }
    .product img{
        height: 100px; 
        width: 100px;
        margin: auto;
    }
    .products-one{
        padding: 1rem;
        gap: 3rem;
        height: 270px;
    }
    .product .desc p{
        text-align: center;
        font-size: .9rem;
        padding: 0.7rem;
        margin-top: 0rem;

    }
    .content .icons img{
        width: 20px;
    }
    .footer-container div .details{
         width: 70%;
         height: 20px;
     }
     .footer-container div .details input{
        font-size: .6rem;
        padding: 0 .5rem;
     }
     .footer-container ul  li{
        font-size: .3rem;
        font-weight: 300;
    }
    .footer-container ul li:hover{
        font-weight: 300;
    }
    .footer-container div p{
        font-size: .4rem;
        font-weight: 300;
    }
    .footer-container div p:hover{
        font-weight: 300;
    }
    .footer-container ul h5{
        font-size: .5rem;
    }
    .footer-container div h5{
        font-size: .5rem;
    }
    .footer-section h1{
        font-size: 1.2rem;
    }
    .footer-container div  h5::after{
        content: '';
        position: absolute;
        height: 0.1rem;
        width: 2rem;
        left: 0;
        bottom: -.5rem;
        background: #EE1C27;
    }
    .footer-container ul  h5::after{
        content: '';
        position: absolute;
        height: 0.1rem;
        width: 2rem;
        left: 0;
        bottom: -.5rem;
        background: #EE1C27;
    }
}

@media screen and (max-width:375px) {
    .title h4{
        font-size: 1.2rem;
    }
    .title .lines-down div{
        width: 5rem;
      
    }
    .image-silder{
        margin-top: 0rem;
       
    }
    .content .icons img{
        width: 15px;
    }
    .footer-container div .details{
         width: 70%;
         height: 20px;
     }
     .footer-container div .details input{
        font-size: .6rem;
        padding: 0 .5rem;
     }
     .footer-container ul  li{
        font-size: .2rem;
        font-weight: 300;
    }
    .footer-container ul li:hover{
        font-weight: 300;
    }
    .footer-container div p{
        font-size: .3rem;
        font-weight: 300;
    }
    .footer-container div p:hover{
        font-weight: 300;
    }
    .footer-container ul h5{
        font-size: .5rem;
    }
    .footer-container div h5{
        font-size: .5rem;
    }
    .footer-section h1{
        font-size: 1.2rem;
    }
    .footer-container div  h5::after{
        content: '';
        position: absolute;
        height: 0.1rem;
        width: 1.5rem;
        left: 0;
        bottom: -.5rem;
        background: #EE1C27;
    }
    .footer-container ul  h5::after{
        content: '';
        position: absolute;
        height: 0.1rem;
        width: 1.5rem;
        left: 0;
        bottom: -.5rem;
        background: #EE1C27;
    }
}